<td>ColumnNames</td>
<td>
    <b>tx_pxhybridauth_domain_model_identity</b><br>
    REPLACE tx_extbase_type <br>
</td>
<td>
    <f:if condition="{status.extbaseTypes} == 'OK'">
        <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-checked">&nbsp;</span>
    </f:if>
    <f:if condition="{status.extbaseTypes} == 'INFO'">
        <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-dialog-warning">&nbsp;</span>
    </f:if>
    <f:if condition="{status.extbaseTypes} == 'ERROR'">
        <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-permission-denied">&nbsp;</span>
    </f:if>
</td>
<td style="text-align: center;">
    <f:if condition="{status.extbaseTypes} == 'INFO'">
        <a href="{requestUri}&action=updateExtbaseTypes">
            <span class="t3-icon t3-icon-extensions t3-icon-extensions-extensionmanager t3-icon-extensionmanager-update-script">&nbsp;</span>
        </a>
    </f:if>
    <f:if condition="{status.extbaseTypes} == 'ERROR'">
        <a href="{requestUri}&action=updateExtbaseTypes">
            <span class="t3-icon t3-icon-extensions t3-icon-extensions-extensionmanager t3-icon-extensionmanager-update-script">&nbsp;</span>
        </a>
    </f:if>
</td>

